In [1]:
_a = 1
b = "IUH"
c = 4.5

In [2]:
a, b, c = 1, "IUH", 4.5

In [3]:
a

1

In [4]:
print(a)
print(b)
print(c)

1
IUH
4.5

In [5]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

## **String**

In [6]:
str_1 = "chào lớp\n"
str_2 = 'tôi là hiền'
str_3 = '''Chào lớp
tôi là hiền
'''
str_4 ="""

"""
print(str_3)

Chào lớp
tôi là hiền

In [7]:
str_1 + " " + str_2

'chào lớp\n tôi là hiền'

In [8]:
str_4 = str_1 * 5
print(str_4)

chào lớp
chào lớp
chào lớp
chào lớp
chào lớp

In [9]:
# str_2 có năm trong str_1 không?
str_2 in str_1

False

In [10]:
a = "124"
b = "1"
b in a

True

In [11]:
str_1[2:5]

'ào '

In [12]:
str_1[-2]

'p'

In [13]:
str_1 = "Pham Thi Xuan Hien"
len(str_1)

18

In [14]:
# start 0
str_1[len(str_1) - 1]

'n'

In [15]:
str_3 = """Chào lớp"""
str_3

'Chào lớp'

In [16]:
# cách hiển thị
a = 1
b = 2
# c1
result = f"{a} + {b} = {a+b}"
print(result)

1 + 2 = 3

In [17]:
# c2
result = "{} + {} = {} ".format(1,2, 1+2)
print(result)

1 + 2 = 3

In [18]:
str_1.split(',')

['Pham Thi Xuan Hien']

In [19]:
# max split 1
str_1.split(' ', 1)

['Pham', 'Thi Xuan Hien']

In [20]:
# cắt từ bên phải qua
str_1.rsplit(' ', 1)

['Pham Thi Xuan', 'Hien']

In [21]:
# 3 phần tử kiểu tuple () chuỗi trước v chuối sau 
str_1.partition('v')

('Pham Thi Xuan Hien', '', '')

In [22]:
# đếm trong chuỗi
str_1.count('a')

2

In [23]:
# start with bắt đầu bằng a
str_1.startswith('a')

False

In [24]:
# bắt đầu 0 kết thúc 5
str_1 = "Nguyễn văn A"
str_1.startswith('n', 0, 6)

False

In [25]:
# bắt đầu 0 kết thúc 5
str_1.startswith('N', 0, 6)

True

In [26]:
# tìm kiếm: find và index 
# find: tìm không thấy trả ra -1
str_1.find('w')

-1

In [27]:
# index: tìm không thấy quăng lỗi

str_1.index('w')

ValueError: substring not found

In [ ]:
# có phải toàn bộ là thường không, upper
str_1.islower()

False

In [ ]:
str_1.lower()

'nguyễn văn a'

In [ ]:
# toàn số hay không?
str_1.isdigit()

False

In [ ]:
# có phải khoảng trắng hay không
str_1.isspace()

False

## **BOOLEAN**

In [ ]:
tuoi = int(input("Nhập vào tuổi của bạn: "))
print(tuoi)

is_older_than_18 = False

if tuoi > 18:
    is_older_than_18 = True
else:
    is_older_than_18 = False

print("Bạn này có trên 18 không? ",is_older_than_18 )

4
Bạn này có trên 18 không?  False

## **LIST**

In [ ]:
a = [1, 1.5, "a", [1,4]]
a

[1, 1.5, 'a', [1, 4]]

In [ ]:
a[-1]

[1, 4]

In [ ]:
a[3][1]

4

In [ ]:
# lấy ra vị trí đầu tiên 
a[0]

1

In [ ]:
a[-1]

[1, 4]

In [ ]:
# duyệt đầu đến cuối, bước nhảy 2
a[::2]

[1, 'a']

In [ ]:
a[:2]

[1, 1.5]

In [ ]:
a[2:]

['a', [1, 4]]

In [ ]:
# danh sách chứa danh sách
a = [[2,3,4], [3,4,5]]
a

[[2, 3, 4], [3, 4, 5]]

In [ ]:
print(a[0])
print(a[1])

[2, 3, 4]
[3, 4, 5]

In [ ]:
# tạo ra 1 bản sao
c = a.copy()
c[0] = "Xuân Hiền"

print(c)
print(a)

['Xuân Hiền', [3, 4, 5]]
[[2, 3, 4], [3, 4, 5]]

In [ ]:
a.append(0)
print(a)

[[2, 3, 4], [3, 4, 5], 0, 0]

In [ ]:
# nhét vào bên trong list 
a.extend(['h',1])
print(a)

[[2, 3, 4], [3, 4, 5], 0, 0, 0, 1, 'h', 1]

In [ ]:
# thêm phần tử vào vị trí gì đó
a = [1,2,3]
a.insert(2, 2)
print(a)

[1, 2, 1, 3]

In [ ]:
# xoá phần tử 1
a = [1,2,3]
a.remove(1)
print(a)

[2, 3]

In [ ]:
a = [2,1,3]
a.sort()
# a.sort(reverse= True)
print(a)

[1, 2, 3]

## **list comprehension**

In [28]:
lst_number = [1, 2, 3, 4]
new_number = []

for item in lst_number:
    print(item)

1
2
3
4

In [32]:
for index in range(len(lst_number)):
    # print(index)
    print("----")
    print(lst_number[index])

----
1
----
2
----
3
----
4

In [34]:
index = 0
while(index < len(lst_number)):
    print(lst_number[index])
    index+=1

1
2
3
4

In [36]:
number = [1, 2, 3, 4]

new_number = []

for i in number:
    if i % 2 == 0:
        new_number.append(i**2)

new_number

[4, 16]

In [38]:
number = [1, 2, 3, 4]

new_number = [i**2 for i in number if i % 2 == 0]
new_number

[4, 16]

In [39]:
# tìm danh sách số chẵn và danh sách số lẻ
lst = [1,2,5,3,9]

In [42]:
dsc = [item for item in lst if item % 2 == 0]
dsl = [item for item in lst if item % 2 != 0]
# for item in lst:
#     if item % 2 == 0:
#         dsc.append(item)
#     else:
#         dsl.append(item)
print(dsc)
print(dsl)

[2]
[1, 5, 3, 9]

In [ ]:
numbers = [x for x in range(10) if x%2 ==0]
numbers

[0, 2, 4, 6, 8]

In [ ]:
number = [1, 2, 3, 4]
new_number = [i**2 for i in number]
new_number

[1, 4, 9, 16]

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
odd_numbers = [x for x in range(10) if x % 2 != 0]
print(even_numbers)
print(odd_numbers)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

đặc điểm của Set:

1. Không được sắp xếp -> không thể lấy gía trị của phần tử theo index
2. Không chứa dữ liệu trùng lắp -> bỏ hết khi khởi tạo
3. Không thay đổi được với các phần tử trong set

In [ ]:
a = [1, 2, 3]
a[0] = 4
a

[4, 2, 3]

In [44]:
my_set = set({1,2,3,1})

{1, 2, 3}

In [47]:
my_set[0]

NameError: name 'my_set' is not defined

In [46]:
set("1")

{'1'}

In [ ]:
my_set = set({1, 2, "1", 2})

In [ ]:
my_set

{1, '1', 2}

In [ ]:
my_list = [1,2,3,4,5]
my_list[0]

1

In [ ]:
my_set = set({3,4,5,1,2})
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# không thể gán giá trị  
my_set[2] = 4

TypeError: 'set' object does not support item assignment

đặc điểm của tuples:
-> gần giống set

1. Khai báo ()
1. Không được sắp xếp -> lấy gía trị của phần tử theo index
1. Không thay đổi được với các phần tử trong tuples
1. Chứa được dữ liệu trùng lắp

In [ ]:
my_typle = (100,200,300,400, 100,"Hiền", 1.4)
print(my_typle)

(100, 200, 300, 400, 100, 'Hiền', 1.4)

In [ ]:
# danh sách các sản phẩm ($1, $2)
# toạ độ ($x, $y)

## **List**

đặc điểm của List

0. Khai báo []
1. Có thể được sắp xếp -> lấy được giá trị theo index
2. Tương tác được phần tử trong list (thêm, xoá, sửa) -> CRUD
3. Chứa được dữ liệu trùng lắp

In [ ]:
my_list = [1,2,3]

In [ ]:
for index in range(0, len(my_list)):
    print(my_list[index])

1
2
3

In [ ]:
for item in my_list:
    print(item)

1
2
3

## **Dictionary**

đặc điểm của dictionary

1. Khai báo {}, chứa các phần tử là 1 cặp key-value
2. có thể được sắp xếp -> lấy giá trị của phần tử theo index
3. tương tác được với phần tử trong dic (thêm, xoá, sửa) -> CRUD
4. Chứa được dữ liệu trùng lắp

In [48]:
my_dict = {
    "name": "hiền",
    "age": 31
}

In [49]:
my_dict

{'name': 'hiền', 'age': 31}

In [ ]:
my_dict.add

In [ ]:
my_dict = {
    "name":"Xuân Hiền Xuân Hiền Xuân Hiền",
    "address":"Q6",
    "phone": 12345
}

In [ ]:
my_dict

{'name': 'Xuân Hiền', 'address': 'Q6', 'phone': 12345}

In [ ]:
my_dict = {
    "name": "Phạm Thị Xuân Hiền",
    "address": 12345
}

In [54]:
my_dict["job"]="gv1"

In [55]:
my_dict

{'name': 'hiền', 'age': 31, 'job': 'gv1'}

In [56]:
for key in my_dict.keys():
    print(key)

name
age
job

In [57]:
for value in my_dict.values():
    print(value)

hiền
31
gv1

In [59]:
for key, value in my_dict.items():
    print(key, value)

name hiền
age 31
job gv1

In [ ]:
# lấy giá trị trong dictionary
for value in my_dict.values():
    print(value)

Phạm Thị Xuân Hiền
12345

In [ ]:
# lấy giá trị trong dictionary
for key in my_dict.keys():
    print(key)

name
address

In [ ]:

for key, value in my_dict.items():
    print(key, value)

name Phạm Thị Xuân Hiền
address 12345

In [ ]:
my_dict["job"] = "GiangVien"

In [ ]:
my_dict

{'name': 'Phạm Thị Xuân Hiền', 'address': 12345, 'job': 'GiangVien'}